<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude"
         i18n:domain="ticket_template">

<xi:include href="admin.html"/>
<head><title>Ticket Templates</title></head>
<body>
<h2>Manage Ticket Templates</h2>
<form id="save_ticket_template" action="${href.admin('ticket/ticket_template')}" method="post">
    <div class="field">
        <label for="type">Type:</label>
        <select size="1" id="type" name="type">
            <option py:for="field in fields">${field.name}</option>
        </select>
    </div>
    <div class="field">
        <label for="description">Description:</label>
        <textarea id="description" name="description" class="wikitext" rows="10" cols="100" py:content="template"></textarea>
    </div>
    <div class="buttons">
        <input type="submit" name="save" value="${_('Apply change')}"/>
        <input type="reset" value="${_('Reset')}"/>
        <input type="submit" name="delete" value="${_('Delete')}"/>
    </div>
</form>
</body>
</html>
